@use 'variables' as var;



@mixin mqTelefono {
    @media (min-width: var.$telefono) {
        @content;
    }
}

@mixin mqTablet {
    @media (min-width: var.$tablet) {
        @content;
    }
}

@mixin mqDesktop {
    @media (min-width: var.$desktop) {
        @content;
    }
}

@mixin mqDesktopXL {
    @media (min-width: var.$desktopXL) {
        @content;
    }
}

@mixin botones ($ancho, $alto, $tamFuente, $bg-color: var.$colorBackgroundBotones){
    display: block;
    padding: 1.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var.$colorFuenteBotones;
    font-weight: bold;
    font-size: $tamFuente;
    text-transform: uppercase;
    p{
        color: var.$colorFuenteBotones; 
        font-weight: bold;
        font-size: $tamFuente;
        text-transform: uppercase;
        line-height: 1;
        margin: 0;
        
    }
    background-color: $bg-color;
    border: var.$colorBordes solid 0.2rem;
    border-radius: 1rem;
    margin: auto auto;
    width: $ancho;
    height: $alto;
}
@mixin field-search ($ancho: none){
    border-radius: 1rem;
    width: $ancho;
    height: 5rem;
}

@mixin grid ($numCol, $sep) {
    display: grid;
    grid-template-columns: repeat($numCol, 1fr);
    gap: $sep;
}
