//TIPOGRAFIA
$fuentePrincipal:'Roboto Slab', serif;
//COLORES
$colorFuenteBotones:#B12D2D;
$colorBackgroundBotones:#E9E13A;
$colorBordes:#B39C12;
$colorPrimario:#212121;
$colorSecundario:#101414;
$colorNegro: #000000;
$blanco:#FFFFFF;
$azulGris: #A4A9C8;

//MEDIA QUERIES (mq)
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;
